*{
    padding: 0;
    margin: 0;
}
.square{
    width: 30%;
    height: 65px;
    border: solid;
    border-width: 8px;
    border-image-slice: 1;
    border-image-source:
        linear-gradient(
        60deg, #c46e88, #5f97b9

    );
}
.all{
    text-align: center
}
.text{
    color: #000;
    position: relative;
    font: 500 3rem 'Montserrat';
    text-decoration: none;
    transition: 2s;
}
.text::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 92% 0 0 0;
    background: #ff0155;
    transition: 2s;
}
.text:hover{
    color: #fff;
}
.text:hover::after{
    inset: 0 0 0 0;
}
.stand-text{
    color: #ff0155;
    margin-top: 30px;
    font-family:sans-serif;
    writing-mode: vertical-lr;
    margin-left: 10%;
    font-size: larger;
    font-weight: bold;
}