@import '../component/colors';

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    background-color: $sub_color2;
    height: 10vh;
    .choose{
        display: flex;
        align-items: center;
        gap: 5px;
        input{
            width: 20px;
            height: 20px;
        }
    }
}